<br />
<h1>Products & Services</h1><br />
<section class="col-10 offset-1">
	<table class="products">
		<tbody>
			<th>
					<h2>Product/Service</h2>
				</th>
				<th >
					<h2>Description</h2>
				</td>
				<th> 
					<h2>Cost</h2>
				</th>
			<% @products.each do |product| %>
				<tr>
					<td>
						<%= product.name %>
					</td>
					<td class="description-td">
						<%= product.description %><br>
					</td>
					<td> 
						<%= product.cost %><br>
					</td>
						<td> 
						<%= link_to 'Details' %><br>
					</td>
				</tr>
			<% end %>
			</tbody>
	</table>
	<br />
</section>
<br />
<center>
	<%=link_to new_product_path, class: 'btn btn-primary' do %>
		Add a New Product
	<% end %>
</center>
